<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <!-- <link rel="stylesheet" href="../static/css/sidemenu.css"> -->
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a onclick="goBack()">Back</a></li>
        <li id="loguit"><a href="/logout">Logout</a></li>
      </ul>
      <script>
        function goBack() {
            window.history.back();
        }
       </script>

    </header>

    <div class="sidemenu">
      <ul>
        <li><a href="/vakken">Vakken</a></li>
        <li><a href="/klassen">Klassen</a></li>
        <li><a href="/leraars">Leraars</a></li>
        <li><a href="/leerlingen">Leerlingen</a></li>
        <li><a href="/datastructuren">Datastructuren</a></li>
      </ul>
    </div>
    <content>
      <p>Dit is het main menu voor de leerkracht.</p>
    </content>
    <!-- <script type="text/javascript">
        document.getElementById("vakken").onclick = function () {
            location.href = "/vakken";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("klassen").onclick = function () {
            location.href = "/klassen";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("leraars").onclick = function () {
            location.href = "/leraars";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("leerlingen").onclick = function () {
            location.href = "/leerlingen";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("datastructure").onclick = function () {
            location.href = "/datastructuren";
        };
    </script> -->


</body>
</html>
