<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <!-- <link rel="import" href="/li_algemeen"> -->
    <header>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a onclick="goBack()">Back</a></li>
        <li><a href="/undo">Undo</a></li>
        <li><a href="/redo">Redo</a></li>
        <li id="loguit"><a href="/logout">Logout</a></li>
        <li id="naam">{{ login }}</li>
      </ul>
      <script>
        function goBack() {
            window.history.back();
        }
       </script>

    </header>

    <div class="sidemenu">
      <ul>
        <li><a href="/vakken">Vakken</a></li>
        <li><a href="/klassen">Klassen</a></li>
        <li><a href="/leraars">Leraars</a></li>
        <li><a href="/leerlingen">Leerlingen</a></li>
        <li><a href="/datastructuren">ADT's</a></li>
      </ul>
    </div>

    <content>
      <div class="Text">
        <h2><b>Main menu</b></h2>
      </div>
    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </content>
</body>
</html>
