<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/css/datastructuren.css">
    <title>GASTO - dataStructure</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a onclick="goBack()">Back</a></li>
        <li id="loguit"><a href="/login">Logout</a></li>
      </ul>
      <script>
        function goBack() {
            window.history.back();
        }
       </script>

    </header>

    <div class="sidemenu">
      <ul>
        <li><a href="/vakken">Vakken</a></li>
        <li><a href="/klassen">Klassen</a></li>
        <li><a href="/leraars">Leraars</a></li>
        <li><a href="/leerlingen">Leerlingen</a></li>
        <li><a href="/datastructuren">Datastructuren</a></li>
      </ul>
    </div>
    <content>
      <h1>Datastructuren</h1>
    <table>
      <tr><td>
      <form action="/ADTchanges">
      <table border="1">
        <thead>
            <tr>
              <th>Data</th>
              <th>type</th>
              <th></th>
              <th>aantal elementen</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vakken</td>
            <td>{{ vakken[0] }}</td>
            <td>
              <select name="datatypevakken">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
              </select>
            </td>
            <td>{{ vakken[1] }}</td>
            <td>
              <form action="/view" method="get">
                <button type="submit" name="view" value="vakken">View</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>Leraars</td>
            <td>{{ leraars[0] }}</td>
            <td>
              <select name="datatypeleraar">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
                <option value="heap">heap</option>
              </select>
            </td>
          <td>{{ leraars[1] }}</td>
          <td>
            <form action="/view" method="get">
              <button type="submit" name="view" value="leraars">View</button>
            </form>
          </td>
          </tr>
          <tr>
            <td>Punt</td>
            <td>{{ punt[0] }}</td>
            <td>
                <select name="datatypepunt">
                  <option value="ll">ll</option>
                  <option value="cl">cl</option>
                  <option value="bst">bst</option>
                  <option value="23">23</option>
                  <option value="234">234</option>
                  <option value="rb">rb</option>
                  <option value="hlin">hlin</option>
                  <option value="hquad">hquad</option>
                  <option value="hsep">hsep</option>
                  <option value="heap">heap</option>
                </select>
            </td>
            <td>{{ punt[1] }}</td>
            <td>
              <form action="/view" method="get">
                <button type="submit" name="view" value="punt">View</button>
              </form>
            </td>
          </tr>
          <tr>
          <td>Puntenlijsten</td>
          <td>{{ puntenlijst[0] }}</td>
          <td>
              <select name="datatypepuntenlijst">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
              </select>
          </td>
          <td>{{ puntenlijst[1] }}</td>
          <td>
            <form action="/view" method="get">
              <button type="submit" name="view" value="puntenlijst">View</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>leerlingen</td>
          <td>{{ leerling[0] }}</td>
          <td>
              <select name="datatypeleerling">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
              </select>
          </td>
          <td>{{ leerling[1] }}</td>
          <td>
            <form action="/view" method="get">
              <button type="submit" name="view" value="leerling">View</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Rapporten</td>
          <td>{{ rapport[0] }}</td>
          <td>
              <select name="datatyperapport">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
              </select>
          </td>
          <td>{{ rapport[1] }}</td>
          <td>
            <form action="/view" method="get">
              <button type="submit" name="view" value="rapport">View</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </td></tr>
      </form>
      <tr id="button">
        <td><button type="submit" name="ADTchanges">commit changes</button></td>
      </tr>
    </table>
  </content>
</body>
</html>
