<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GASTO - dataStructure</title>
    <style media="screen">
table, th, td {
    border: 1px solid black;
  }
    </style>
  </head>
  <body>
    <table>
      <thead>
          <tr>
            <th>Data</th>
            <th>type</th>
            <th></th>
            <th>aantal elementen</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vakken</td>
          <td>{{ vakken[0] }}</td>
          <td>
            <form action="/change" method="get">
              <button type="submit" name="change">change</button>
            </form>
          </td>
          <td>{{ vakken[1] }}</td>
          <td>
            <form action="/view" method="get">
              <button type="submit" name="view" value={{ "vakken" }}>View</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Leraars</td>
          <td>{{ leraars[0] }}</td>
          <td>
          <form action="/change" method="get">
            <button type="submit" name="change">change</button>
          </form>
          </td>
        <td>{{ leraars[1] }}</td>
        <td>
          <form action="/view" method="get">
            <button type="submit" name="view" value={{ "vakken" }}>View</button>
          </form>
        </td>
        </tr>
        <tr>
          <td>Punt</td>
          <td>{{ punt[0] }}</td>
          <td>
            <form action="/changePunt" method="get">
              <select name="datatype">
                <option value="ll">ll</option>
                <option value="cl">cl</option>
                <option value="bst">bst</option>
                <option value="23">23</option>
                <option value="234">234</option>
                <option value="rb">rb</option>
                <option value="hlin">hlin</option>
                <option value="hquad">hquad</option>
                <option value="hsep">hsep</option>
                <option value="heap">heap</option>
              </select>
            </form>
          </td>
          <td>{{ punt[1] }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
