<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <h1> Welcome bij het Flask Tutorial, {{ naam }}!</h1>
    <p> Zoals je kan zien wordt de {{ naam }} vanboven zelf ingevuld door de name die we hebben meegegeven in ons
        pythonbestand. cool he.</p>

    <h2> Dit is slechts een site om Flask te testen. Dit is dus nog niet de site voor ons GASTO project.</h2>
    <p> Deze website maakt gebruik van cookies dus fuck off als je geen cookies aanvaardt <br>
    Door op eender welke knop op deze site te klikken, aanvaard je de cookies.</p>

    <p> We gaan met veel 'forms' moeten werken, omdat een form een manier is om info op te vragen van de gebruiker.
        In deze site maken we door elkaar gebruik van post en get (kijk dus in het python bestand welke je moet
        gebruiken! </p>


    <p> GET zet de data van de form mee in de url, POST geeft de data iets subtieler door</p>
    <form action="/page2" method="get">
        <p>Enter Some Text:</p>
        <p><input type="text" name="tekstDieJeHebtIngegeven"></p>
        <p><input type="submit" value="Verzend"></p>
    </form>
    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>