<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <div class="Login">
      <button id="myButton" class="float-left submit-button" >Login</button>
    </div>


    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "/login";
        };
    </script>

    <!-- <p> Je bent altijd welkom om de visuele afwerking te doen van deze site. :-)</p>
    <p> Deze site gebruikt cookies blablabla... Door op eender welke knop op deze site te klikken ben je hier akkoord mee.</p> -->
</body>
</html>
