<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO - Leerlingen</title>
</head>
<body>
    <h1>Leerlingen</h1>

    <form action="/addleerling" method="get">
    <table border=1>
        <thead>
            <tr>
                <td>Stamboeknr</td>
                <td>Naam</td>
                <td>Klas</td>
                <td>Klasnr</td>
                <td><form></form></td>
            </tr>
        </thead>
        <tbody>
            {% for leerling in leerlingen %}
                <tr>
                    <td>{{ leerling[0] }}</td>
                    <td>{{ leerling[1] }}</td>
                    <td>{{ leerling[2] }}</td>
                    <td>{{ leerling[3] }}</td>
                    <td>
                        <form action="/removeleerling" method="get">
                          <button name="stamboeknr" type="submit" value={{ leerling[0] }}>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot> <!-- Aparte foot of mee in body steken? -->
            <td><input type="text" name="stamboeknr"></td>
            <td><input type="text" name="naam"></td>
            <td><input type="text" name="klas"></td>
            <td><input type="text" name="klasnr"></td>
            <td><input type="submit" value="Add"></td>
        </tfoot>
    </table>
    </form>
    </table>

</body>
</html>