<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a onclick="goBack()">Back</a></li>
        <li id="loguit"><a class="active" href="/login">Login</a></li>
      </ul>
      <script>
        function goBack() {
            window.history.back();
        }
       </script>
    </header>
    <content>
    <form class="Login" action="/verifylogin" method="post">
      <table>
        <tr>
          <td  id="naam"><label> Naam: </label></td>
          <td><input type="text" name="name"><br></td>
        </tr>
        <tr>
          <td  id="naam"><label>Wachtwoord: </label></td>
          <td><input type="password" name="password"><br></td>
        </tr>
        <tr id="knop">
          <td colspan="2"><input class="submit" type="submit" value="Login"><br></td>
        </tr>
      </table>
    </form>
    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </content>
</body>
</html>
