<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body>
    <h1> {{ dict["Cookie"] }}</h1>

    <table border="1">
        <p> Merk op dat er hier geen dubbele accolade gebruikt wordt, maar accolade %.</p>
        <tbody>
            {% for key, value in dict.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>The previous url was: {{ url }}</p>
    <p>Hopelijk begrijp je nu toch al iets beter hoe flask werkt. <br>
        Neem eens een kijkje in GUI om te zien of je daarvan alles begrijpt. </p>
    <!-- Bedankt on het tutorial tot het einde te volgen -->
</body>
</html>