<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO - Rapport</title>
    <link rel="stylesheet" href="../static/css/wrapper.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a onclick="goBack()">Back</a></li>
      <li id="loguit"><a href="/logout">Logout</a></li>
      <li id="naam">{{ login }}</li>
    </ul>
    <script>
      function goBack() {
          window.history.back();
      }
     </script>

  </header>

  <div class="sidemenu">
    <ul>
        {% for rapport in rapporten %}
      <li><a class="{{ rapport[1] }}" href="/getrapport?zoeksleutel={{ rapport[0] }}">{{ rapport[0] }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <content>

    <h1>Rapport {{ id }}</h1>

    <table border=1>
        <thead>
            <tr>
                {% for column in header %}
                <td>{{ column }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for vak in body %}
                <tr>
                    {% for column in vak %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% for column in footer %}
            <td>{{ column }}</td>
            {% endfor %}
        </tfoot>
    </table>

    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </content>
</body>
</html>
