<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO - Leerling</title>
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/css/student.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a onclick="goBack()">Back</a></li>
      <li id="loguit"><a href="/logout">Logout</a></li>
      <li id="naam">{{ login }}</li>
    </ul>
    <script>
      function goBack() {
          window.history.back();
      }
     </script>

  </header>

  <div class="sidemenu">
    <ul>
        {% for rapport in rapporten %}
      <li><a href="/getrapport?zoeksleutel={{ rapport }}">{{ rapport }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <content>

   <div class="Text">
        <h2><b>Welkom, {{ name }}</b></h2>
      </div>

   <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </content>
</body>
</html>
