<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/teacher_home.css">
    <meta charset="UTF-8">
    <title>GASTO</title>
</head>
<body onresize="hideSidemenu()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: pink;">
      <a class="navbar-brand" href="#">GASTO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" onclick="goBack()" style="">Back</a></li>
        </ul>

        <div id="side_elements" class="side_elements">
        <ul class="navbar-nav order-0">
            <li class="nav-item"><a class="nav-link active" href="/puntenlijsten">Puntenlijsten</a></li>
        </ul>
        </div>

          <ul class="navbar-nav" >
            <li class="nav-item"><a class="nav-link" href="/home">{{ login }}</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
        <script>
            function goBack() {
                window.history.back();
            }

            function toggleSidebar() {
                var x = document.getElementById("sidemenu");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

        </script>
        <style>
            @media screen and (min-width: 0px) and (max-width: 400px) {
              #sidemenu{ display: block;}  /* show it on smaller screen */
              #side_elements{ display: none;}
              #content{ width: 100%}
            }
            @media screen and (min-width: 401px) and (max-width: 1024px) {
              #sidemenu{ display: none; }   /* hide it on larger screens */
              #side_elements{ display: block;}
              #content{ width: 90%}
            }

        </style>
      </div>
    </nav>

    <div class="sidemenu" id="sidemenu">
      <ul>
        <li><a class="active" href="/puntenlijsten">Puntenlijsten</a></li>
      </ul>
    </div>

    <content id="content">
    <h1>Welkom leerkracht!</h1>
    <p> Je bent ingelogd als {{ name }} <br></p>

    <!-- Heel de table is een gigantische form, zodat onderaan iets getypt kan worden -->
    <form action="/addpuntenlijst" method="get">
    <table border=1>
        <thead>
            <tr>
                <td>ID</td>
                <td>Klas</td>
                <td>Vak</td>
                <td>Rapport</td>
                <td>Leerkrachten</td>
                <td>Uren</td>
                <td></td>
                <td><form></form></td> <!-- eerste form heeft ook als actie addtopuntenlijst (bug? fix) -->
            </tr>
        </thead>
        <tbody>
            {% for tabelitem in puntenlijsten %}
                <tr>
                    <td>{{ tabelitem[0] }}</td>
                    <td>{{ tabelitem[1] }}</td>
                    <td>{{ tabelitem[2] }}</td>
                    <td>{{ tabelitem[3] }}</td>
                    <td>{{ tabelitem[4] }}</td>
                    <td>{{ tabelitem[5] }}</td>
                    <td>
                        <form action="/puntenlijst" method="get">
                          <button name="ID" type="submit" value={{ tabelitem[0] }}>View</button>
                        </form>
                    </td>
                    <td>
                        <form action="/removepuntenlijst" method="get">
                          <button name="ID" type="submit" value={{ tabelitem[0] }}>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot> <!-- Aparte foot of mee in body steken? -->
            <td><input type="text" name="ID"></td>
            <td><input type="text" name="klas"></td>
            <td><input type="text" name="vak"></td>
            <td><input type="text" name="rapport"></td>
            <td><input type="text" name="leerkrachten"></td>
            <td><input type="text" name="uren"></td>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tfoot>
    </table>
    </form>

    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </content>
</body>
</html>
