<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <title>GASTO - Leeracht</title>
</head>
<body>
  <header>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a onclick="goBack()">Back</a></li>
      <li id="loguit"><a href="/logout">Logout</a></li>
      <li id="naam">{{ login }}</li>
    </ul>
    <script>
      function goBack() {
          window.history.back();
      }
     </script>

  </header>

  <div class="sidemenu">
    <ul>
      <li><a  class="active" href="#">Puntenlijsten</a></li>
    </ul>
  </div>
  <content>
    <h1>Welkom leerkracht!</h1>
    <p> Je bent ingelogd als {{ name }} <br></p>

    <!-- Heel de table is een gigantische form, zodat onderaan iets getypt kan worden -->
    <form action="/addpuntenlijst" method="get">
    <table border=1>
        <thead>
            <tr>
                <td>ID</td>
                <td>Klas</td>
                <td>Vak</td>
                <td>Rapport</td>
                <td>Leerkrachten</td>
                <td>Uren</td>
                <td></td>
                <td><form></form></td> <!-- eerste form heeft ook als actie addtopuntenlijst (bug? fix) -->
            </tr>
        </thead>
        <tbody>
            {% for tabelitem in puntenlijsten %}
                <tr>
                    <td>{{ tabelitem[0] }}</td>
                    <td>{{ tabelitem[1] }}</td>
                    <td>{{ tabelitem[2] }}</td>
                    <td>{{ tabelitem[3] }}</td>
                    <td>{{ tabelitem[4] }}</td>
                    <td>{{ tabelitem[5] }}</td>
                    <td>
                        <form action="/puntenlijst" method="get">
                          <button name="ID" type="submit" value={{ tabelitem[0] }}>View</button>
                        </form>
                    </td>
                    <td>
                        <form action="/removepuntenlijst" method="get">
                          <button name="ID" type="submit" value={{ tabelitem[0] }}>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot> <!-- Aparte foot of mee in body steken? -->
            <td><input type="text" name="ID"></td>
            <td><input type="text" name="klas"></td>
            <td><input type="text" name="vak"></td>
            <td><input type="text" name="rapport"></td>
            <td><input type="text" name="leerkrachten"></td>
            <td><input type="text" name="uren"></td>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tfoot>
    </table>
    </form>

    <!-- Error messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </content>
</body>
</html>
