<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASTO - Vakken</title>
    <link rel="stylesheet" href="../static/css/wrapper.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a onclick="goBack()">Back</a></li>
      <li id="loguit"><a href="/logout">Logout</a></li>
      <li id="naam">{{ login }}</li>
    </ul>
    <script>
      function goBack() {
          window.history.back();
      }
     </script>

  </header>

  <div class="sidemenu">
    <ul>
      <li><a class="active" href="/vakken">Vakken</a></li>
      <li><a href="/klassen">Klassen</a></li>
      <li><a href="/leraars">Leraars</a></li>
      <li><a href="/leerlingen">Leerlingen</a></li>
      <li><a href="/datastructuren">Datastructuren</a></li>
    </ul>
  </div>
  <content>


    <form action="/addvak" method="get">
      <h1>Vakken</h1>
    <table border=1>
        <thead>
            <tr>
                <td>Afkorting</td>
                <td>Vak</td>
                <td><form></form></td>
            </tr>
        </thead>
        <tbody>
            {% for vak in vakken %}
                <tr>
                    <td>{{ vak[0] }}</td>
                    <td>{{ vak[1] }}</td>
                    <td>
                        <form action="/removevak" method="get">
                          <button name="afkorting" type="submit" value={{ vak[0] }}>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot> <!-- Aparte foot of mee in body steken? -->
            <td><input type="text" name="afkorting"></td>
            <td><input type="text" name="vak"></td>
            <td><input type="submit" value="Add"></td>
        </tfoot>
    </table>
    </form>
    </table>
  </content>
</body>
</html>
