<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/wrapper.css">
    <link rel="stylesheet" href="../static/css/datastructuren.css">
    <title>GASTO - dataStructure</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a onclick="goBack()">Back</a></li>
        <li><a href="/undo">Undo</a></li>
        <li id="loguit"><a href="/logout">Logout</a></li>
        <li id="naam">{{ login }}</li>
      </ul>
      <script>
        function goBack() {
            window.history.back();
        }
       </script>

    </header>

    <div class="sidemenu">
      <ul>
        <li><a href="/vakken">Vakken</a></li>
        <li><a href="/klassen">Klassen</a></li>
        <li><a href="/leraars">Leraars</a></li>
        <li><a href="/leerlingen">Leerlingen</a></li>
        <li><a href="/datastructuren">Datastructuren</a></li>
      </ul>
    </div>
    <content>
      <h1>Behind The Scenes - Datastructuur</h1>
      <img src="{{ png }}" >
  </content>
</body>
</html>
