.Text{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  background-color: pink;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
}

.Text h2{
  padding: 0;
  margin:0;
  padding-top: 40%;
  font-size: 28px;
}
