body{
  padding: 0;
  margin: 0;
  height: 1000px;
  /* background-color: #ddd; */
   /* background-image: url("cube.png"); */
  /* background-image: url("tim.gif"); */
  /* als tom inlogt: background-image: url("tom.png"); */
}
/*#############HEADER################*/

header{
  background-color: pink;
  height: 2.8%;
  padding: 0;
  width: 100%;
}

header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li{
  float: left;
  width: 6%;
}

header ul li a{
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
}

header ul li a:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

header ul li a.active{
  background-color: white;
  color: black;
}

#naam{
  float: right;
  padding: 5px;
  display: block;
  text-align: center;
  /* background-color: white; */
  color: black;
}

#loguit{
  float: right;
}


/*#############SIDEMENU################*/
.sidemenu{
  float: left;
  background-color: pink;
  width: 6%;
  height: 100%;
  padding: 0;
}

.sidemenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* padding-top: 20px; */
}

.sidemenu ul li{
  float: left;
  width: 100%;
}

.sidemenu ul li a{
  text-align: center;

  text-decoration: none;
  display: block;
  color: white;
  padding: 5px;
}

.sidemenu ul li a:hover{
  background-color: white;
  color: black;
}

.sidemenu ul li a.active{
  background-color: white;
  color: black;
}


/*#############CONTENT################*/
content{
  float: right;
  width: 94%;
  /* text-align: center; */
}

table{
  border-color: pink;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td{
  border-color: pink;
}


tr{
  border-color: pink;
}

h1{
  color: pink;
  text-align: center;
}

p{
  color: grey;
  text-align: center;
}


content .Login{
  margin-top: 5%;
}
